@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// colors
$color-primary: #3a4b5e !default;
$color-secondary: #e4e5ed !default;
$color-tertiary: #0090f0 !default;
$color-CTA: #00db33 !default;
$color-danger: #fa0a01 !default;

// fonts
@mixin font-primary() {
  font-family: 'pilsner', sans-serif;
  font-weight: 800;
  font-style: normal;
}
@mixin font-secondary() {
  font-family: 'pilsner', sans-serif;
  font-weight: 700;
  font-style: normal;
}
@mixin font-tertiary() {
  font-family: 'massilia', sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  color: $color-primary;
}
h1 {
  @include font-primary();
}
h2,
h3,
h4,
h5,
a,
label {
  @include font-secondary();
}
p {
  @include font-tertiary();
}

body {
  background-color: $color-secondary;
}

.navbar,
.footer {
  background-color: $color-primary;

  * {
    color: $color-secondary !important;
    border: none;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .nav-item:hover {
    opacity: 80%;
  }
  .active {
    text-decoration: underline;
  }
  .navbar-brand {
    width: 75px;
  }
  .navbar_bars {
    font-size: 2em;
  }
  .footer_icon {
    font-size: 1.8em;
  }
}

.form {
  max-width: 500px;
  input {
    background-color: $color-secondary;
    border: 1px solid $color-primary;
  }
  input:focus {
    background-color: $color-secondary;
  }
  .btn {
    background-color: $color-CTA;
    color: $color-primary;
    font-weight: 900;
    text-transform: uppercase;
  }
  .btn:hover {
    opacity: 80%;
  }
  label {
    font-size: 1.3em;
  }
}
.link {
  @include font-primary();
  color: $color-tertiary;
}

// profile
.profile {
  .avatar {
    width: 100px;
    height: 100px;
    border: 2px solid $color-primary;
    border-radius: 100%;
  }
  .profile_buttons {
    text-transform: uppercase;
    .active {
      text-decoration: underline;
    }
  }
  .profile_buttons *:hover {
    opacity: 80%;
    cursor: pointer;
  }
}

// carrousel
.carousel-inner {
  height: 200px;
  overflow: hidden;
}
.carousel-image {
  max-height: 150px;
}
.carousel-control-next,
.carousel-control-prev {
  color: $color-primary;
}

.carousel-caption {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
}
.carousel-caption * {
  color: $color-primary;
  border: solid 1px $color-primary;
  height: 30px;
  width: 100px;
}
// cards
.card {
  background-color: $color-secondary;
  border: 2px solid $color-primary;
  margin: 1em 0;
}
@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
      width: 20%;
      margin: 10px 1em;
      .card-body {
        padding: 0;
        .card-title {
          padding: 10px;
          background-color: $color-primary;
          color: $color-secondary;
          text-transform: uppercase;
          font-weight: 900;
        }
        .card-text {
          padding: 10px;
          background-color: $color-secondary;
          color: $color-primary;
        }
      }
    }
  }
}
