@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

// colors
$color-primary: #3a4b5e !default;
$color-secondary: #e4e5ed !default;
$color-tertiary: #0090f0 !default;
$color-CTA: #00db33 !default;
$color-danger: #fa0a01 !default;

// fonts
@mixin font-primary() {
  font-family: 'pilsner', sans-serif;
  font-weight: 800;
  font-style: normal;
}
@mixin font-secondary() {
  font-family: 'pilsner', sans-serif;
  font-weight: 700;
  font-style: normal;
}
@mixin font-tertiary() {
  font-family: 'massilia', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  @include font-primary();
}
h2,
h3,
h4,
h5,
a {
  @include font-secondary();
}
p {
  @include font-tertiary();
}

body {
  background-color: $color-secondary;
}

.navbar {
  background-color: $color-primary;

  * {
    color: $color-secondary !important;
    border: none;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .nav-item:hover {
    opacity: 80%;
  }
  .active {
    text-decoration: underline;
  }
  .navbar-brand {
    width: 75px;
  }
  .fa-bars {
    font-size: 2em;
  }
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: $color-secondary;
}
